[data-cellid="section_c1"][data-page="q_informes_supervision_activos_view"][data-cellid="section_c1"][data-page="q_informes_supervision_activos_view"][data-cellid="section_c1"][data-page="q_informes_supervision_activos_view"] {
  width: 100px;
}
[data-cellid="section_c"][data-page="q_informes_supervision_activos_view"][data-cellid="section_c"][data-page="q_informes_supervision_activos_view"][data-cellid="section_c"][data-page="q_informes_supervision_activos_view"] {
  width: 100px;
}
[data-cellid="section_c2"][data-page="q_informes_supervision_activos_view"][data-cellid="section_c2"][data-page="q_informes_supervision_activos_view"][data-cellid="section_c2"][data-page="q_informes_supervision_activos_view"] {
  width: 100px;
}


