<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel informe_intersup_plan_pagos view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_consecutivo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_consecutivo}  r-vertical-field" data-fieldname="inf_consecutivo" data-signal-error-for="inf_consecutivo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="inf_consecutivo" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inf_consecutivo}">
		
		{BEGIN inf_consecutivo_label}{$label informe_intersup_plan_pagos inf_consecutivo }{END inf_consecutivo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inf_consecutivo_value}	</div>

		
</div>


{END inf_consecutivo_fieldblock}
											
{BEGIN inf_fecharep_i_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fecharep_i}  r-vertical-field" data-fieldname="inf_fecharep_i" data-signal-error-for="inf_fecharep_i{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="inf_fecharep_i" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inf_fecharep_i}">
		
		{BEGIN inf_fecharep_i_label}{$label informe_intersup_plan_pagos inf_fecharep_i }{END inf_fecharep_i_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inf_fecharep_i_value}	</div>

		
</div>


{END inf_fecharep_i_fieldblock}
											
{BEGIN inf_fecharep_f_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fecharep_f}  r-vertical-field" data-fieldname="inf_fecharep_f" data-signal-error-for="inf_fecharep_f{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="inf_fecharep_f" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inf_fecharep_f}">
		
		{BEGIN inf_fecharep_f_label}{$label informe_intersup_plan_pagos inf_fecharep_f }{END inf_fecharep_f_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inf_fecharep_f_value}	</div>

		
</div>


{END inf_fecharep_f_fieldblock}
											
{BEGIN inf_valor_pago_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_valor_pago}  r-vertical-field" data-fieldname="inf_valor_pago" data-signal-error-for="inf_valor_pago{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="inf_valor_pago" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inf_valor_pago}">
		
		{BEGIN inf_valor_pago_label}{$label informe_intersup_plan_pagos inf_valor_pago }{END inf_valor_pago_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inf_valor_pago_value}	</div>

		
</div>


{END inf_valor_pago_fieldblock}
											
{BEGIN dias_calculados_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dias_calculados}  r-vertical-field" data-fieldname="dias_calculados" data-signal-error-for="dias_calculados{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="dias_calculados" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_dias_calculados}">
		
		{BEGIN dias_calculados_label}{$label informe_intersup_plan_pagos dias_calculados }{END dias_calculados_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$dias_calculados_value}	</div>

		
</div>


{END dias_calculados_fieldblock}
											
{BEGIN dias_fiscales_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dias_fiscales}  r-vertical-field" data-fieldname="dias_fiscales" data-signal-error-for="dias_fiscales{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="dias_fiscales" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_dias_fiscales}">
		
		{BEGIN dias_fiscales_label}{$label informe_intersup_plan_pagos dias_fiscales }{END dias_fiscales_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$dias_fiscales_value}	</div>

		
</div>


{END dias_fiscales_fieldblock}
											
{BEGIN valor_a_pagar_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_valor_a_pagar}  r-vertical-field" data-fieldname="valor_a_pagar" data-signal-error-for="valor_a_pagar{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="valor_a_pagar" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_valor_a_pagar}">
		
		{BEGIN valor_a_pagar_label}{$label informe_intersup_plan_pagos valor_a_pagar }{END valor_a_pagar_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$valor_a_pagar_value}	</div>

		
</div>


{END valor_a_pagar_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="#" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
